<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControllerProveedor</servlet-name>
        <servlet-class>Controladores.ControllerProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVentas</servlet-name>
        <servlet-class>Controladores.ControllerVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategoria</servlet-name>
        <servlet-class>Controladores.ControllerCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProducto</servlet-name>
        <servlet-class>Controladores.ControllerProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCliente</servlet-name>
        <servlet-class>Controladores.ControllerCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMenu</servlet-name>
        <servlet-class>Controladores.ControllerMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Controladores.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEmpleado</servlet-name>
        <servlet-class>Controladores.ControllerEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>Controladores.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPedido</servlet-name>
        <servlet-class>Controladores.ControllerPedido</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>ControllerHecho</servlet-name> 
        <servlet-class>Controladores.ControllerHecho</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>ControllerBusca</servlet-name> 
        <servlet-class>Controladores.ControllerBusca</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>ControllerBuscar</servlet-name> 
        <servlet-class>Controladores.ControllerBuscar</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>ControllerReservacion</servlet-name> 
        <servlet-class>Controladores.ControllerReservacion</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>ControllerJefe</servlet-name>
        <servlet-class>Controladores.ControllerJefe</servlet-class>
    </servlet>
  <servlet>
        <servlet-name>ControllerSearch</servlet-name>
        <servlet-class>Controladores.ControllerSearch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerSearch</servlet-name>
        <url-pattern>/ControllerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProveedor</servlet-name>
        <url-pattern>/ControllerProveedor</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControllerVentas</servlet-name>
        <url-pattern>/ControllerVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategoria</servlet-name>
        <url-pattern>/ControllerCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProducto</servlet-name>
        <url-pattern>/ControllerProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCliente</servlet-name>
        <url-pattern>/ControllerCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMenu</servlet-name>
        <url-pattern>/ControllerMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEmpleado</servlet-name>
        <url-pattern>/ControllerEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/ControllerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPedido</servlet-name>
        <url-pattern>/ControllerPedido</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerHecho</servlet-name>
        <url-pattern>/ControllerHecho</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerBusca</servlet-name> 
        <url-pattern>/ControllerBusca</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerBuscar</servlet-name> 
        <url-pattern>/ControllerBuscar</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerReservacion</servlet-name> 
        <url-pattern>/ControllerReservacion</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerJefe</servlet-name>
        <url-pattern>/ControllerJefe</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
